.container {
  width: 350px;
  height:300px;
  margin: 50px auto;
  background: #ffffff;
  padding: 80px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: black;
  font-weight: 700;
}

.form {
  width: 100%;
}

.inputGroup {
  margin-bottom: 20px;
}

.submitButton {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton > * {
  width: 100%;
}

.registerLink {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #434df9;
}
